
<div class="container">
    <mat-card>
        <mat-card-content>

         <div>
            <div>
                <h2 class="text-center">Leaderboard</h2>
            </div>
            <div class="d-flex align-items-center justify-content-around">
                <div >
                    <mat-form-field>
                        <mat-label>Select Batch</mat-label>
                        <mat-select >
                          <mat-option *ngFor="let batch of allBatch" value="{{batch.class_name}}" (click)="getval(batch.class_name)" >
                            {{batch.class_name}} 
                        </mat-option >
                        </mat-select>
                      </mat-form-field>
                   
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Choose an option</mat-label>
                        <mat-select >
                          <mat-option value="option1" *ngFor="let batch of data" value="{{batch.batch_year}}">{{batch.batch_year}}</mat-option>

                        </mat-select>
                      </mat-form-field>
                </div>
              
            </div>
           <div class="d-flex align-items-center justify-content-center gap-5 "  >
            <div *ngFor="let batch of subjects_arry">
                <button type="button " (click)="subjects(batch)" *ngIf="issubject==true"  class="btn  "  [ngClass]="issubject?'subjects ':'subject'">{{batch}}</button>
               
            </div>
          
           </div>
         </div>
         <div class="leader-board pt-5 mt-5 mb-2 pb-4">
            <div class="d-flex align-items-center justify-content-center" > 
                <div *ngFor="let items of allData;let i=index">
                    <div class="leaderboardImg" >
                        <div class="img-sec">
                            <p>{{i+1}} </p>
                            <img src="./assets/images/Ellipse 3.png" alt="">
                            <div class="pt-2 text-center">
                                <p class="m-0">{{items.name}}</p>
                            <p class="m-0">{{items.mark}}</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
               
                <!-- <div class="img-sec leaderboardImg2">
                    <img src="./assets/images/emojione_crown.png" alt="">
                    <p>1</p>
                    <img src="./assets/images/Ellipse 4.png" alt="">
                    <div class="pt-2 text-center">
                        <p class="m-0">Marin</p>
                    <p class="m-0">80 mark</p>
                    </div>
                </div>
                <div class="img-sec">
                   
                    <p>3</p>
                    <img src="./assets/images/Ellipse 5.png" alt="">
                    <div class="pt-2 text-center">
                        <p class="m-0">Marin</p>
                    <p class="m-0">80 mark</p>
                    </div>
                </div> -->
            </div>
         </div>
         <!-- <div class="d-flex gap-5 align-items-center justify-content-center">
            <div class=" d-flex gap-3 align-items-center justify-content-center rounded px-5">
                <p>4</p>
               <div class="bg-danger d-flex  align-items-center justify-content-between rounded  gap-3">
                <img src="./assets/images/Ellipse 5.png" height="60px" alt="">
                <p class="p-2 mt-3">John</p>
                <p class="p-2 mt-3">60 marks</p>
               </div>
            </div>
            
        </div>
        <div class="d-flex gap-5 align-items-center justify-content-center py-3">
            <div class=" d-flex gap-3 align-items-center justify-content-center rounded px-5">
                <p>5</p>
               <div class="bg-danger d-flex  align-items-center justify-content-between rounded  gap-3">
                <img src="./assets/images/Ellipse 5.png" height="60px" alt="">
                <p class="p-2 mt-3">John</p>
                <p class="p-2 mt-3">60 marks</p>
               </div>
            </div>
            
        </div>
        <div class="d-flex gap-5 align-items-center justify-content-center py-3">
            <div class=" d-flex gap-3 align-items-center justify-content-center rounded px-5">
                <p>6</p>
               <div class="bg-danger d-flex  align-items-center justify-content-between rounded  gap-3">
                <img src="./assets/images/Ellipse 5.png" height="60px" alt="">
                <p class="p-2 mt-3">John</p>
                <p class="p-2 mt-3">60 marks</p>
               </div>
            </div>
        </div> -->
         
        </mat-card-content>
      </mat-card>
      
</div>


