<div class="container">
    <div class="navbar">
        <nav>
            
                <img src="./assets/images/logo1.png" alt="" routerLink="/admin/admin-home-page">
            
           
        </nav>
        <div [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</div>

  <mat-menu #menu="matMenu" class="matmenu">
    <button class="my-2" mat-menu-item  >
 
      <mat-icon>dialpad</mat-icon>
      <span  >Create a Batch</span>
    </button>

    <button mat-menu-item class="my-2" (click)="logout()">
        <mat-icon >delete</mat-icon>
      <span >Logout</span>
    </button>
  
  </mat-menu>
