
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button mat-button>	<mat-icon>create</mat-icon><span class="hidesm">Edit</span></button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>delete</mat-icon> <span class="hidesm">Delete batch</span></button>
        </mat-list-item>
       
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        
        <div class="container">


            
            <div class="viewStudent">
             
        
        
                
                <mat-card>
                    
                    <mat-card-content>
                        <div>
                            <div class="container p-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Name</label>
                                            <h2 class="">Nived</h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Email</label>
                                            <h2>lorem@gmail.com</h2>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Phone Number</label>
                                            <h2>7306561022</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Admission Number</label>
                                            <h2>987654321</h2>
                                        </div>
                                      
                                    </div>
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">School Name</label>
                                            <h2>Bharathamatha Higher Secondary School, Palakkad</h2>
                                        </div>
                                       
                                    </div>
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Class Name</label>
                                            <h2>PLUS ONE</h2>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Division</label>
                                            <h2>A</h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Batch Year</label>
                                            <h2>2024</h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 border">
                                        <div class="p-3">
                                            <label for="">Subjects</label>
                                            <h2>English,chemistry </h2>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </mat-card-content>
                  </mat-card>
                  
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>