mat-card{
    width:    219px ;
height: 148px;
   cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-card-content {

width: 100%;

 
    padding: 0 !important;
}
mat-card-content h2{
    background-image: linear-gradient(
        0deg,
        hsl(0deg 100% 50%) 0%,
        hsl(23deg 100% 49%) 46%
       
      );
    padding: 0 !important;
    width:219px ;
height: 72px;
display: flex;
align-items: center;
justify-content: center;
font-weight: 400;
font-size: 32px;

}
.deletebatchModel mat-icon{
    cursor: pointer !important;
}
@media only screen and (max-width: 600px) {
    .createbatch {
     padding:0 10px !important;
     margin: 0 !important;
    
    }
    .createbatch button{
        width: 150px !important;
    }
  }